* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.abu {
    margin: 0 auto;
    padding: 20px;
    width: 800px;
    background-color: rgb(113, 188, 117);
    text-align: center;

}
header {
  background-color: rgb(33, 37, 37);
  color: white;
  padding: 30px;
  
}
img {
    padding: 50px;
}
a {
    color: aqua;
    padding: 30px;
}